* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.destaca-container {
    background: #5bf946;
}

.row {
    height: 100%;
}

article {
    border: 1px solid red;
    height: 70%;
}

.sedans {
    padding: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

footer {
    clear: both;
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}